<ion-header>
  <ion-toolbar>
    <ion-title>View Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <item-label>
        {{task.taskName}}
      </item-label>
    </ion-item>
    <ion-item>
      <ion-label>
          <p>Due Date:</p>
          <h4>{{task.dueDate | date:'dd MMM, YYYY - HH:mm'}}</h4>
        </ion-label>
    <ion-item>
      <ion-label>
          <p>Created on:</p>
          <h4> {{task.creationDate | date}}</h4>
      </ion-label>
    </ion-item>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Priority</p>
        <h2 *ngIf="task.priority==='low'" style="color:#2dd36f">{{task.priority | titlecase}}</h2>
        <h2 *ngIf="task.priority==='medium'" style="color:#ffc409">{{task.priority | titlecase}}</h2>
        <h2 *ngIf="task.priority==='high'" style="color:#eb445a">{{task.priority | titlecase}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Collect From:</p>
        <h4>{{task.collectFrom}}</h4>
        <p>Deliver To:</p> 
        <h4>{{task.deliverTo}}</h4>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Extra Info:</p>
        <a target="_blank" href="{{task.extraInfo}}">{{task.extraInfo}}</a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Status:</p>
        <h2 *ngIf="task.status==='complete'" color="success">{{task.status | titlecase}}</h2>
        <h2 *ngIf="task.status==='active'" color="warning">{{task.status | titlecase}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="markComplete()" expand="block">
          Mark Complete
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>