<ion-header>
  <ion-toolbar>
    <ion-title>Update Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="ion-form" [formGroup] = "currentTask" (ngSubmit)="updateTask()">    

    <ion-item lines="full">
      <ion-label position="floating">Task Name</ion-label>
      <ion-input type="text" formControlName="taskName" value="task.taskName"></ion-input>
    </ion-item> 
    <ion-item lines="full">
      <ion-label position="floating">Task Description</ion-label>
      <ion-textarea type="text" formControlName="description" value="task.description"></ion-textarea>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Creation Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" min="2020" max="2050" formControlName="creationDate"></ion-datetime>
    </ion-item> 
    <ion-item lines="full">
      <ion-label position="floating">Due Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY"  min="2020" max="2050" formControlName="dueDate"></ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Account Manager</ion-label>
      <ion-select type="text" formControlName="accountManager" placeholder="Select Account Manager">
        <ion-select-option value="Charné">Charné</ion-select-option>
        <ion-select-option value="Chris">Chris</ion-select-option>
        <ion-select-option value="Clare">Clare</ion-select-option>
        <ion-select-option value="Jenna">Jenna</ion-select-option>
        <ion-select-option value="Jerome">Jerome</ion-select-option>
        <ion-select-option value="Julia">Julia</ion-select-option>
        <ion-select-option value="Natalie">Natalie</ion-select-option>
        <ion-select-option value="Ryan">Ryan</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Priority</ion-label>
      <ion-select formControlName="priority">
        <ion-select-option value="low">Low</ion-select-option>
        <ion-select-option value="medium">Medium</ion-select-option>
        <ion-select-option value="high">High</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Collect From</ion-label>
      <ion-input type="text" formControlName="collectFrom"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Collect Location</ion-label>
      <ion-input type="text" formControlName="collectLocation"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Deliver To</ion-label>
      <ion-input type="text" formControlName="deliverTo"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Deliver Location</ion-label>
      <ion-input type="text" formControlName="deliverLocation"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Status</ion-label>
      <ion-select type="text" formControlName="status">
        <ion-select-option value="active">Active</ion-select-option>
        <ion-select-option value="complete">Complete</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row class="button-row">
      <ion-col> 
      <ion-button expand="block" type="submit" [disabled] ="!currentTask.valid">Update Task</ion-button>
      
      </ion-col>
    </ion-row>



  </form>

</ion-content>