<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Google Map</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  
    <google-map height="80vh"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    [options]="options">
    <map-marker [position]="myMarker?.position" [options]="myMarker?.options" [title]="myMarker?.title" [label]="myMarker?.label" [icon]="myMarker?.icon"></map-marker>
    <map-marker *ngFor="let marker of markers"
    #markerElement
    [position]="marker?.position"
    [options]="marker?.options"
    [label]="marker?.label"
    (mapClick)="markerEvent(markerElement, marker)"
    ></map-marker></google-map>


</ion-content>