<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Map of Jimbuians</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  
    <google-map height="100%"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    [options]="options" (mapClick)="mapClick($event)"
    >
    <map-marker [position]="myMarker?.position" [options]="myMarker?.options" [icon]="myMarker?.icon"></map-marker>
    <map-marker *ngFor="let marker of markers"
    #markerElement="mapMarker"
    [position]="marker?.position"
    [options]="marker?.options"
    [title]="marker?.title"
    (mapClick)="openInfo(markerElement, marker.title)">
  </map-marker>
  <map-traffic-layer [autoRefresh]="false"></map-traffic-layer>
  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>


</ion-content>